doctype html
html
  head
    title= title
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,drawing,places")
  body
    block content
    script
      | document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
